body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/*  ===============Common================= */
ul {
    display: block;
}


.wrapper {
    /* border: 1px solid #000; */
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;
    
}

i.fa-solid.fa-plus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa-solid.fa-plus.fa-style:hover {
    color: brown;
}

i.fa-solid.fa-minus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa-solid.fa-minus.fa-style:hover {
    color: brown;
}
.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.hinhanh_sanpham {
    float: left;
    width: 40%;

}

/* Sanpham.php */

.chitiet_sanpham {
    float: left;
    display: block;
    width: 50%;
    margin: 0 20px;
    margin-left: 50px;
}


.chitiet_sanpham h3 {
    padding-bottom: 10px;
}
.chitiet_sanpham p {
    padding-bottom: 10px;
}

input.themgiohang {
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
.header {
    object-fit: cover;
    background-image: url("../images/banner-football.jpg");
    background-repeat: no-repeat;
    border: 1px solid #ff80ff;
    background-size: 100% 100%;
    /* height: 180px; */
    width: 100%;

}

.header-inner {
    height: 100%;
    background-color: #020202;
    padding-top: 20px;
}

.title-inner {
    background-color: #343434;
    padding-top: 30px;
    color: #fff;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    align-items: center;
}

#main{
    border: 1px solid #00ff80;
    height: auto;
    width: 100%;
 }

/*  
.sidebar {
    border: 1px solid #000066;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;

}

ul.list_sidebar {
    padding: 0;
    list-style: none;
    width: 100%;
    line-height: 27px;
}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight:700;
    display: block;
    text-align: left;
}

ul.list_sidebar li:hover {
    background: #fe6402;
} */

/* ===========sidebar ========== */

.sidebar {
    /* border: 2px solid #000066;  */
    height: 100%; /* Độ cao 100% chiều cao của màn hình */
    width: 20%;
     margin-top: 10px;
    margin-left: 10px; 
    margin-bottom: 10px;
    float: left;
    background-color: #fed061; 
    
}

ul.list_sidebar {
    padding: 0;
    list-style: none;
    width: 100%;
    line-height: 27px;
    
}

ul.list_sidebar li {
    /* margin: 7px; */
    padding: 15px;
    border-bottom:  1px solid #808080;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: center;
    color: #000; /* Màu chữ trắng */
    font-weight: 700; /* Độ đậm của chữ tăng lên */
    display: block;
    text-align: left;
    
}

ul.list_sidebar li:hover {
    background: #fe6402;
}

/* =========== product list ========== */
.maincontent {
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-radius: 12px;
}

ul.product_list li {
    border: 1px solid #000;
    width: 23%;
    margin: 5px;
    float: left;
    height: 350px;
    background-color:  #FFA500;
    border-radius: 12px;
}


ul.product_list li img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 200px;
    width: 100%;
    
}

p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

ul.product_list li a {
    text-decoration: none;
}

.clear {
    clear: both;
}


/* Footer */

footer {
    display: inline-block;
}
  .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 125px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  

  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #fff;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #fff;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
  